
<h2>Umsätze für Konto: {{this.iban}}</h2>

<!-- <div class="dropdown"> -->
<!--   <button class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
<!--     {{this.iban}} -->
<!--   </button> -->

<!--   <div class="dropdown-menu" aria-labelledby="dropdownMenuLink"> -->
<!--   </div> -->
<!-- </div> -->


<a class="nav-link" *ngFor="let konto of this.konten"
    routerLink="/umsatz-uebersicht/{{konto.iban}}"
    routerLinkActive="active"
    >{{konto.iban}} </a>

<div class="table-responsive body-manage-attendees">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Datum
                </th>
                <th scope="col" >IBAN</th>
                <th scope="col" >Verwendungszweck</th>                
                <th class="text-right" scope="col">Umsatz</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umsatz of this.umsaetze" 
            		(mouseover)="selectedRow = umsatz" >
                <td >{{ umsatz.datum | date:'dd.MM.yyyy'}}</td>
                <td >{{ umsatz.iban }}</td>
                <td >{{ umsatz.vwzweck }}</td>
                <td class="text-right text-success"
                 [ngClass]="{'text-danger': umsatz.umsatz < 0}"
                >{{ umsatz.umsatz }}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <h3>{{this.umsaetze.length}}</h3> -->
